.header{
    box-shadow: inset 100px 50px 80px black;
    height:100px;
}

.active-style a.active{
    background-color: transparent;
   color: rgba(254, 240, 138, 0.708);
    
}
.active-style a:focus{
    background-color: transparent;
    color: rgba(253, 223, 71, 0.983);
}
.active-style button, li{
    font-weight:bolder;
}